body{
    background-color: brown;
    text-align: center;
    font-weight: 200;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}   

#calculadora{
    margin: 20px;
    color: aliceblue;
    width: 200px;
}
h3{
    color: aliceblue;
}

button{
    margin: 15px 9px 15px 9px;
    color: brown;
    background-color: aliceblue;
    font-weight: bold;
    width: 158px;
    height: 30px;
}
input{
    width: 150px;
    height: 20px;
    margin: 10PX;
}
